In [1]:
import pandas as pd

data1 = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',skiprows=1)[0]

In [3]:
data2=pd.DataFrame(data1)

In [5]:
data2.columns = ['PostalCode','Borough','Neighborhood']

In [6]:
data2.describe()

       PostalCode       Borough  Neighborhood
count         289           289           289
unique        180            12           210
top           M8Y  Not assigned  Not assigned
freq            8            77            78

In [7]:
data2.drop(data2[data2.Borough == "Not assigned"].index, inplace=True)

In [8]:
data2.describe()

       PostalCode    Borough Neighborhood
count         212        212          212
unique        103         11          210
top           M8Y  Etobicoke    Runnymede
freq            8         45            2

In [10]:
df=data2.groupby(['PostalCode', 'Borough']).Neighborhood.apply(', '.join).reset_index()
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [11]:
df['Neighborhood'].loc[df['Neighborhood'] == 'Not assigned'] = df['Borough']

In [12]:
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [13]:
df.shape

(103, 3)